language: java

jdk:
    - oraclejdk8

before_cache:
    - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
    - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
    directories:
        - $HOME/.gradle/

after_success:
    - ./gradlew jacocoTestReport && ./codecov.sh
